*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('back1.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#museum{
    display: flex;
}

#originalImage{
    display: flex;
    width : 50vw;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#mosaicImage{
    display: none;
    width : 50vw;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}

#uploadButton{
    display: flex;
    width : 100vw;
    height: 10vh;
    background-color: slategrey;
    justify-content: space-around;
    align-items: center;
}

#image_container img{
    border:14px ridge rgb(90, 47, 23);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

canvas{
    border:14px ridge rgb(90, 47, 23);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.input-file-button{
    padding: 6px 25px;
    background-color:#1d2847;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}